.aboutus {
  .banner-box {
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    margin: 2rem 0;
    position: relative;
    .inner-box{
      position:absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      background-color: rgba(12 ,7,7 , 0.50);
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      .title{
        font-size:5rem;
        color: gold;
      }
      .sub-title{
        font-size:2rem;
        color: gold;
      }
    }
  }

  .text-box {
    padding: 1rem;
    background-color: rgba(245, 235, 219, 0.18)
  }
}
