.categories {
  .top-title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
  }

  .category-items {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    .category {
      border: 1px solid rgba(0, 0, 0, 0.27);
      background-color: aliceblue;
      color: black;
      font-size: 1.3rem;
      text-decoration: none;

      .inner {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;

        .title {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          height: 5rem;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .category-items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 992px) {
    .category-items {
      grid-template-columns: repeat(4, 1fr);
    }
  }


}
