/**

.header first childs are .top , .middle ,.bottom
.top>.sm-only-box show in small device only
*/

.header {
  $header-height: 100px;
  $top-height: 2rem;
  $input-height: 2rem;
  $search-icon-width: $input-height;

  $cart-box-width: 5rem;
  $input-border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffde96;
  z-index: 1000;
  width: 100%;

  .top {

    background-color: #f3e9e9;

    .sm-only-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 1rem;

      .left {
        display: flex;

        align-items: center;

        .menu-button {
          border: 2px solid rgba(0, 0, 0, 0.27);
          outline: 2px solid rgba(0, 0, 0, 0.50);
          background-color: black;
          color: #ffde96;
        }

        .logo-box {
          padding: 0rem;
          margin-left: 1rem;

          img {
            max-height: $top-height;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

      }
    }

  }

  .logo-box {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

    img {
      max-height: 4rem;
    }
  }

  /**------------------------------------------------------------------------
 start middle
 ------------------------------------------------------------------------**/
  .middle {
    display: grid;
    grid-template-columns: 1fr;

    .logo-box {
      display: none;
    }

    .center-box {

      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .inner {
        padding: 0.2rem;
        width: calc(100% - 2rem);
        background-color: silver;
        border: 1px solid black;
        display: flex;
        border-radius: $input-border-radius;
        position: relative;

        .input-box {
          width: 100%;
          display: flex;

          input {
            outline: none;
            border: none;
            width: calc(100% - #{$search-icon-width});
            margin: 0;
            height: $input-height;
            border-top-left-radius: $input-border-radius;
            border-bottom-left-radius: $input-border-radius;
            padding-left: $input-border-radius/2;
          }

          .icon-box {
            width: $search-icon-width;
            background-color: purple;
            height: $input-height;
            user-select: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
          }
        }

        .cart-box {
          height: $input-height;
          width: $cart-box-width;
          background-color: #ffffff;
          justify-content: space-around;
          display: flex;
          position: relative;
          align-items: center;
          font-size: 2rem;
          cursor: pointer;
          border-top-right-radius: $input-border-radius;
          border-bottom-right-radius: $input-border-radius;

          .b-avatar {
            font-size: 1.2rem;
            width: 2rem;
            height: 2rem;

          }

        }

        .srearchList {
          background: #ffff;
          position: absolute;
          top: 100%;
          width: 100%;
          left: 0;
          z-index: 500;

        }

        .search-icon {
          display: none;
        }

        .srearchList:hover {

          background: #CDDC39;

        }

        .srearchList li {
          list-style-type: none;
          line-height: 80px;
        }

      }




    }

    .right-box {
      display: none;
      justify-content: center;
      align-items: center;

      .inner {}
    }
  }

  /**------------------------------------------------------------------------
 end middle
 ------------------------------------------------------------------------**/

  .bottom {


    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    z-index: 200;
    background-color: rgba(82, 57, 220, 0.28);

    .top-menu-box {
      left: -100%;
      transition: left 500ms ease;
    }


    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-10%, 10%);
    }

    &.show {
      left: -0%;

      .top-menu-box {
        left: -0%;
      }

    }
  }

  &.sticky {
    position: fixed;

    .top {
      display: none;
    }

    .middle {
      .logo-box {
        display: none;
      }


      .right-box {
        display: none;
      }

      grid-template-columns:1fr;
    }

    .bottom {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .logo-box {
      display: flex;
    }

    .top {
      display: flex;


      .sm-only-box {
        display: none;
      }
    }

    .middle {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;

      .logo-box {
        display: flex;
      }

      .right-box {
        display: flex;
      }
    }

    .bottom {

      display: block;
      height: auto;
      position: static;
      background-color: #ffffff;
      padding: 0 1rem;

      .close-button {
        display: none;
      }

      .top-menu-box {
        position: relative;
        width: 100%;
        grid-template-columns: repeat(10, 1fr);
        padding: 0;
        margin: 0;
        left: 0;

        .home-link {
          display: none;
        }

        >li {
          position: static;
          border-bottom: none;
          border-right: 0.01rem solid pink;

          &:last-child {
            border-right: none;
          }

          &.has-child {
            .sub-items {
              list-style-type: none;
              grid-template-columns: repeat(5, 1fr);
              width: 100%;
              padding: 1rem 0;

              left: 0;

              top: 100%;

              >li {}
            }
          }


        }
      }
    }

  }

  &.sticky+.container-fluid {
    padding-top: $input-height;
  }
}
