
// .card{
//     img{
//       width: 100px;
//       height: 100px;
//     }
//   }

  

img{
  max-width: 100%;
}
.sm-image{
  img{
    width: 100px;
  }
}
.md-image{
  img{
    width: 120px;
  }
}
.lg-image{
  img{
    width: 150px;
  }
}

 
  