.order-show {
  position: relative;
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
  }

  .card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .track-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    $lineWidth: 1rem;

    .track {

      position: relative;
      width: auto;
      margin: 2rem 0;



      .step {
        position: relative;
        z-index: 2;
        min-height: 7rem;
        background-color: rgba(182, 194, 153, 0.205);
        display: flex;
        align-items: center;



        .text {
          font-weight: bold;
          font-size: 1.2rem;
        }

        .color-line {
          height: 100%;
          width: $lineWidth;
          background: #e5ebf0;
          position: absolute;
          z-index: -1;


          .icon {
            width: #{$lineWidth + 2rem};
            height: #{$lineWidth + 2rem};
            background-color: #e5ebf0;

            border-radius: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: var(--gray-dark);

            svg {
              width: #{$lineWidth + 0.8rem};
              height: #{$lineWidth + 0.8rem};
            }
          }

        }

        &:nth-child(odd) {
          transform: translateX(calc(-50% + #{ $lineWidth /2}));
          flex-direction: row-reverse;

          .text {
            padding-right: #{$lineWidth + 2rem};
            padding-left: 2rem;
          }
        }

        &:nth-child(even) {
          transform: translateX(calc(50% - #{ $lineWidth /2}));


          .text {
            padding-left: #{$lineWidth + 2rem};
            padding-right: 2rem;
          }

        }

        &.active {
          .color-line {
            background: #dc3545;

            .icon {
              background-color: greenyellow;
              color: #fd7e14;
            }
          }
        }
      }

      @media (min-width: 768px) {
        height: auto;
        width: 100%;
        display: flex;

        .step {
          min-height: 2rem;
          flex: 1;
          justify-content: center;
          flex-direction: column-reverse;

          .color-line {
            height: 1rem;
            width: 100%;
            position: relative;
            left: auto;
            right: auto;
            bottom: auto;
            top: auto;
            margin-bottom: 1rem;
          }

          &:nth-child(even) {
            transform: translateX(0);
          }

          &:nth-child(odd) {
            transform: translateX(0);
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}