.b-sidebar > .b-sidebar-body{
    overflow-x:visible;
    .cart-list-box{
        position: relative;
        z-index: 5000;
        margin-left: -10px;
        width: calc(100% + 10px);
       
        
    
    .cart-col{
        width: 100%;
        .card{
            .card-body{
                padding: 0.5rem 0.5rem;
            }
        }
        margin-bottom: 5px;
        margin-top: 10px;
        .product-card-horizontal{
            height: 8rem;
        }
         .image-col{
            width: 8rem;
            height: 8rem;
            overflow: hidden;
        }
        .info-col{
            padding: 0.2rem;
        }
    }
    
    }
}
