.top-menu-box {
  $bar-item-height: 2.5rem;
  $bar-sub-item-height: 2rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: white;
  margin: 0;
  position: relative;
  left: 0;
  z-index: 10;
  width: 250px;
  border-bottom: 0.01rem solid rgb(202, 169, 175);
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }

  >li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid black;

    position: relative;

    &:last-child {
      border-bottom: none;
    }

    >a {
      line-height: $bar-item-height;
      height: $bar-item-height;
      display: block;

    }


    &.has-child {

      >a {
        &::after {
          content: " \25BE";
        }


      }




      .sub-items {
        list-style-type: none;
        grid-template-columns: repeat(1, 1fr);
        background-color: #f5f3ef;
        margin: 0;
        padding: 0 0;

        width: 300px;
        position: absolute;
        left: 0;
        display: none;
        border-top: 1px solid black;

        >li {
          list-style: none;
          text-align: center;
          cursor: pointer;

          a {
            height: $bar-sub-item-height;
            line-height: $bar-sub-item-height;

          }

          &:nth-child(even) {

            background-color: rgba(63, 81, 181, 0.10);
          }


        }

      }

      &:hover {
        .sub-items {
          display: grid;
          left: 100%;
          top: 0;
        }

        >a {
          &::after {
            content: " \25B4";
          }

          background-color:#040a2b;
          color: wheat;

        }

      }
    }

  }
}
