.image-box {

  position: relative;
  height: 100%;
  overflow: hidden;

  .img-hover {
    display: none;
  }

  &:hover {
    .img-hover {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
       background-color: rgba(7,0,21 , 0.21);
      display: flex;
      justify-content: center;
      align-items: center;
     // top: 50%;
    //  right:0;
      // transform: translate(100%,-50%);
      // :hover{transform: translate(0%,-50%);}&
      .btn{
        &.btn-secondary{
          background-color:#2200ff;

        }
      }
    }
  }

  .is-love {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%) translateY(50%) scale(1.4);
    z-index: 3;
    cursor: pointer;

    &:hover {
      color: red;
    }

    &.isLoved {
      color: red;
    }
  }
}
