@mixin price_tag-after-before {
    position: absolute;
    content: '';
    overflow: hidden;
}

.price_tag {

    $height: 2.4rem;
    $lg-height: 3rem;
    $sm-height: 2rem;
    $cross-height: 2px;
    box-sizing: border-box;
    $off-line-color: #dc0850;
    display: inline-block;
    position: relative;
    height: $height;
    line-height: height;
    background-color: rgba(132, 0, 255, 0.01);
    padding: 0;

    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    user-select: none;

    .off-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        background-color: $off-line-color;
        height: $cross-height;
        display: none;
    }


    &.off {
        .off-line {
            display: block;
        }

        &:after {
            @include price_tag-after-before;
            background-color: $off-line-color;
            width: $height/2;
            height: $cross-height;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:before {
            @include price_tag-after-before;
            background-color: $off-line-color;
            width: $cross-height;
            height: $height/2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);

        }
    }

    &.lg {
        height: $lg-height;
        font-size: 1.25rem;

        &.off {
            .off-line {
                height: $cross-height*2;
            }

            &:after {
                width: $lg-height/2;
                height: $cross-height*2;
            }

            &:before {
                height: $lg-height/2;
                width: $cross-height*2;
            }
        }
    }

    &.sm {
        height: $sm-height;
        font-size: 0.875rem;

        .off-line {
            height: $cross-height;
        }

        &.off {
            &:after {
                width: $sm-height/2;
                height: $cross-height;
            }

            &:before {
                height: $sm-height/2;
                width: $cross-height;
            }
        }
    }

    &.border {
        border: 0.1rem solid black !important;
    }

    &.hover {
        &:hover {
            background-color: rgba(13, 2, 24, 0.932);
            color: wheat;

        }
    }

    &:hover {
        text-decoration: none;

        &:after {
            display: none;
        }

        &:before {
            display: none;
        }

        .off-line {
            display: none;
        }
    }
    &.bold{
        font-weight: bold;
    }
    &:active{
        background-color: yellow;
        box-shadow: 0px 0px 10px 3px rgb(84,187,176);
    }
}