$xSmall:576px;
$small:576px;
$medium:768px;
$large:992px;
$xLarge:1200px;
$xxLarge:1400px;

@mixin titleSize($index, $size:1.2rem) {
  .product-item {
    .rd-item-name {
      font-size: $size - ($index /50);
      line-height: $size - ($index /50);
    }
  }

}

@mixin columns($i, $gap) {
  $w: 100%/$i;
  grid-template-columns: repeat($i, calc(#{$w} - #{$gap}));
}

@mixin mediaMix($infix, $gap:0.5rem) {


  @for $i from 1 through $infix {
    &.xSmall-#{$i} {
      @media (max-width: $small) {
        @include columns($i, $gap);
        @include titleSize($i, 1rem);
      }
    }

    &.small-#{$i} {
      @media (min-width: $small) {
        @include columns($i, $gap);
        @include titleSize($i);
      }
    }

    &.medium-#{$i} {
      @media (min-width: $medium) {
        @include columns($i, $gap);
        @include titleSize($i);
      }
    }

    &.large-#{$i} {
      @media (min-width: $large) {
        @include columns($i, $gap);
        @include titleSize($i);
      }
    }

    &.xLarge-#{$i} {
      @media (min-width: $xLarge) {
        @include columns($i, $gap);
        @include titleSize($i);
      }
    }

    &.xxLarge-#{$i} {
      @media (min-width: $xxLarge) {
        @include columns($i, $gap);
        @include titleSize($i);
      }
    }

  }
}

.product-list:not(.horizontal) {
  $gap: 0.3rem;
  box-sizing: border-box;
  display: grid;
  grid-gap: $gap;
  @include mediaMix(10, $gap);
}
