

.product-card{
 
  width: 100%;
  overflow: hidden;

  .image-box{
    background-color: red;
    img{width: 100%;}
  }
 
}

.product-list{
  $item-gap : 0.2rem;
 box-sizing: border-box;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-wrap: wrap;
  width:100%;
 
  .product-item{
 
    box-sizing: border-box;
    margin: $item-gap;
    
  
    width:calc(50% - #{ $item-gap *2});
   
    .rd-item-name{
      white-space: pre-wrap;
      line-height: 1rem;
      font-size: 1rem;}
    .product-card{
      box-sizing: border-box  !important;
      .add-to-card-button{
        display:flex;
        flex-wrap: nowrap;
      }
      .category-links{
        margin-top: 0.5rem;
        font-size: 0.8rem;
      }
      .buy{
        display:flex;
        justify-content:space-around;
        flex-wrap: wrap;
        .price{
          display:flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          .amount{
            color:#4caf50;
            font-weight: bold;
          }
          .unit{
            white-space: nowrap;
            color:black;
            padding-left: 0.5rem;
            text-transform: capitalize;
            font-weight: bold;
          }
        }
      }
      
    }
    @media (min-width: 768px) { 
      width:calc(33% - #{ $item-gap *2});
     
    }
    @media (min-width: 992px) { 
      width:calc(25% - #{ $item-gap *2});
      .rd-item-name{font-size: 1.2rem; line-height: 1.2rem;}
    }
    @media (min-width: 1200px) { 
      width:calc(20% - #{ $item-gap *2});
    }
  }
  &.horizontal{
    .product-item{
      width:100%;
    }
  }
}